.app{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/originals/37/6c/78/376c788b791d6c11dc5f58d8e5e0f027.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

